<?xml version="1.0" ?>

<launch>
    <!-- 定义命令行参数 -->
    <arg name="version" default="4" />
    <arg name="ctrl_arm_idx" default="2" />
    <arg name="ik_type_idx" default="0" />
    <arg name="ip_address" default="" />
    <arg name="control_torso" default="0" /> <!-- 0: do NOT control, 1: control torso  -->
    <arg name="control_finger_type" default="0" /> <!-- 0: control all fingers by upper-gripper, 1: control thumb and index fingers by upper-gripper, control other fingers by lower-gripper  -->
    <arg name="predict_gesture" default="false" /> <!-- True or False -->
    <arg name="ee_type" default="qiangnao"/>
    <arg name="enable_head_control" default="true"/>
    <arg name="hand_reference_mode" default="thumb_index"/> <!-- fingertips, middle_finger, thumb_index -->
    <arg name="use_arm_collision" default="false"/>
    <arg name="use_two_stage_ik" default="true"/>
    <arg name="debug_print" default="true"/>
    <arg name="vr_control_mode" default="IK_DIRECT"/>
    <param name="debug_print" value="$(arg debug_print)"/>
    <param name="vr_control_mode" value="$(arg vr_control_mode)"/>

    <include file="$(find humanoid_controllers)/launch/load_kuavo_mujoco_sim.launch"/>

    <!-- noitom_hi5_hand_udp_python -->
    <node pkg="noitom_hi5_hand_udp_python" type="monitor_quest3.py" args="$(arg ip_address)" name="monitor_quest3" output="screen">
        <param name="enable_head_control" value="$(arg enable_head_control)" />
    </node>

    <!-- NOTES: 待测试的cpp节点 -->
    <!-- <node name="main_node" pkg="motion_capture_ik" type="main_node" output="screen"> -->
    <node name="ik_ros_uni_cpp_node" pkg="motion_capture_ik" type="ik_ros_uni_cpp_node" output="screen">
        <param name="ctrl_arm_idx" value="$(arg ctrl_arm_idx)" />
        <remap from="/kuavo_arm_traj_cpp" to="/kuavo_arm_traj" />
    </node>
</launch>
