# H12 接收机：FT232R，按 FTDI 的 vendor/product 匹配。
KERNEL=="ttyUSB*", ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", ATTR{latency_timer}="1", SYMLINK+="usb_remote"
