<launch>
    <!-- 全局参数设置 -->
    <param name="default_action" value="start"/>
    <param name="default_launch_file" value="apriltag"/>
    <param name="default_session_name" value="pro_apriltag_session"/>
    
    <!-- Audio Control Client -->
    <node pkg="h12pro_controller_node" type="audio_control_client.py" name="audio_control_client" output="screen">
        <!-- 环境变量设置 -->
        <env name="KUAVO_ROS_CONTROL_WS_PATH" value="/home/lab/lpf/kuavo-ros-control"/>
        <env name="ROS_DISTRO" value="noetic"/>
        <env name="ROS_MASTER_URI" value="http://192.168.26.1:11311"/>
        <env name="ROS_IP" value="192.168.26.1"/>
    </node>
</launch>
