<launch>
  <!-- 根据robot_type选择模型版本 -->
  <arg name="robot_version" default="$(optenv ROBOT_VERSION 40)"/>
  <arg name="robot_type"
       default="$(eval '1' if int(arg('robot_version')) >= 60 else '2')"/>
  <param name="robot_type" value="$(arg robot_type)"/>

  <arg name="legged_robot_scene"
     default="$(find kuavo_assets)/models/biped_s$(arg robot_version)/xml/scene.xml" />
  <param name="legged_robot_scene_param" value="$(arg legged_robot_scene)" />
  <node pkg="nodelet" type="nodelet" name="nodelet_mujoco" args="load MujocoNodelet nodelet_manager" respawn="false" output="screen" />
</launch>
