<launch>
    <!-- 定义命令行参数 -->
    <arg name="version" default="4" />
    <arg name="ctrl_arm_idx" default="2" />
    <arg name="ik_type_idx" default="0" />
    <arg name="ip_address" default="" />
    <arg name="control_torso" default="false" /> <!-- false: do NOT control, true: control torso  -->
    <arg name="control_finger_type" default="0" /> <!-- 0: control all fingers by upper-gripper, 1: control thumb and index fingers by upper-gripper, control other fingers by lower-gripper  -->
    <arg name="predict_gesture" default="false" /> <!-- True or False -->
    <arg name="ee_type" default="qiangnao"/>
    <arg name="enable_head_control" default="true"/>
    <arg name="hand_reference_mode" default="thumb_index"/> <!-- fingertips, middle_finger, thumb_index -->
    <arg name="use_arm_collision" default="false"/>
    <arg name="use_two_stage_ik" default="true"/>
    <arg name="use_step_turning" default="false"/> <!-- 是否启用单步转向功能 -->
    <arg name="use_cpp_ik" default="false"/> <!-- false: use Python IK (ik_ros_uni.py), true: use C++ IK (incremental_ik_ros_uni_node) -->
    <arg name="use_incremental_ik" default="false"/> <!-- false: use C++ IK (incremental_ik_ros_uni_node), true: use C++ IK (incremental_ik_ros_uni_node) -->
    <arg name="fhan_r" default="12.0" />
    <arg name="fhan_kh0" default="6.0" />
    <arg name="fhan_r_joint" default="90.0" />
    <arg name="fhan_kh0_joint" default="6.0" />
    <arg name="max_joint_velocity" default="18.0" />
    <arg name="delta_scale_x" default="1.0" />
    <arg name="delta_scale_y" default="1.0" />
    <arg name="delta_scale_z" default="1.0" />
    <arg name="max_pos_diff" default="0.45" />
    <arg name="arm_move_threshold" default="0.002" />
    <!-- 末端夹爪姿态偏置旋转（RPY角度，单位：弧度） -->
    <arg name="left_hand_quat_offset_roll" default="0.0" />
    <arg name="left_hand_quat_offset_pitch" default="0.0" />
    <arg name="left_hand_quat_offset_yaw" default="0.0" />
    <arg name="right_hand_quat_offset_roll" default="0.0" />
    <arg name="right_hand_quat_offset_pitch" default="0.0" />
    <arg name="right_hand_quat_offset_yaw" default="0.0" />
    <!-- 手部位置约束参数 -->
    <arg name="sphere_radius_limit" default="0.6" /> <!-- 手部位置约束球体半径 -->
    <arg name="min_reachable_distance" default="0.08" /> <!-- 最小可达距离 -->
    <arg name="box_min_bound" default="[0.05, -0.6, -0.05]" /> <!-- 手部位置约束边界框最小值 [x, y, z] -->
    <arg name="box_max_bound" default="[0.4, 0.6, 0.52]" /> <!-- 手部位置约束边界框最大值 [x, y, z] -->
    <arg name="chest_offset_y_ax" default="0.05" /> <!-- 胸部中线偏移量，用于防止左右手过中线 -->
    <arg name="left_center" default="[0, 0.02, 0]" /> <!-- 左手圆柱体约束中心 [x, y, z] -->
    <arg name="right_center" default="[0, -0.02, 0]" /> <!-- 右手圆柱体约束中心 [x, y, z] -->
    <arg name="default_left_hand_pos_on_exit" default="[0.02, 0.32, -0.15]" /> <!-- 退出时左手默认目标位置 [x, y, z] -->
    <arg name="default_right_hand_pos_on_exit" default="[0.02, -0.32, -0.15]" /> <!-- 退出时右手默认目标位置 [x, y, z] -->

    
    <!-- motion_capture_ik -->
    <!-- Python IK Node (启动当 use_cpp_ik=false 时) -->
    <node pkg="motion_capture_ik" type="ik_ros_uni.py" name="ik_ros_uni" args=" --version $(arg version) --ctrl_arm_idx $(arg ctrl_arm_idx) --ik_type_idx $(arg ik_type_idx) --control_torso=$(arg control_torso) --control_finger_type=$(arg control_finger_type) --predict_gesture=$(arg predict_gesture) --ee_type=$(arg ee_type) --hand_reference_mode=$(arg hand_reference_mode) --use_two_stage_ik=$(arg use_two_stage_ik)" output="screen" unless="$(arg use_cpp_ik)">
        <param name="use_arm_collision" value="$(arg use_arm_collision)"/>
    </node>

    <!-- 增量式IK节点 (启动当 use_cpp_ik=true 且 use_incremental_ik=true 时) -->
    <include file="$(find motion_capture_ik)/launch/incremental_ik.launch" if="$(eval str(arg('use_cpp_ik')).lower() == 'true' and str(arg('use_incremental_ik')).lower() == 'true')">
        <arg name="ctrl_arm_idx" value="$(arg ctrl_arm_idx)" />
        <arg name="control_torso" value="$(arg control_torso)" />
        <arg name="ee_type" value="$(arg ee_type)" />
        <arg name="fhan_r" value="$(arg fhan_r)" />
        <arg name="fhan_kh0" value="$(arg fhan_kh0)" />
        <arg name="fhan_r_joint" value="$(arg fhan_r_joint)" />
        <arg name="fhan_kh0_joint" value="$(arg fhan_kh0_joint)" />
        <arg name="max_joint_velocity" value="$(arg max_joint_velocity)" />
        <arg name="delta_scale_x" value="$(arg delta_scale_x)" />
        <arg name="delta_scale_y" value="$(arg delta_scale_y)" />
        <arg name="delta_scale_z" value="$(arg delta_scale_z)" />
        <arg name="max_pos_diff" value="$(arg max_pos_diff)" />
        <arg name="arm_move_threshold" value="$(arg arm_move_threshold)" />
        <arg name="left_hand_quat_offset_roll" value="$(arg left_hand_quat_offset_roll)" />
        <arg name="left_hand_quat_offset_pitch" value="$(arg left_hand_quat_offset_pitch)" />
        <arg name="left_hand_quat_offset_yaw" value="$(arg left_hand_quat_offset_yaw)" />
        <arg name="right_hand_quat_offset_roll" value="$(arg right_hand_quat_offset_roll)" />
        <arg name="right_hand_quat_offset_pitch" value="$(arg right_hand_quat_offset_pitch)" />
        <arg name="right_hand_quat_offset_yaw" value="$(arg right_hand_quat_offset_yaw)" />
        <arg name="sphere_radius_limit" value="$(arg sphere_radius_limit)" />
        <arg name="min_reachable_distance" value="$(arg min_reachable_distance)" />
        <arg name="box_min_bound" value="$(arg box_min_bound)" />
        <arg name="box_max_bound" value="$(arg box_max_bound)" />
        <arg name="chest_offset_y_ax" value="$(arg chest_offset_y_ax)" />
        <arg name="left_center" value="$(arg left_center)" />
        <arg name="right_center" value="$(arg right_center)" />
        <arg name="default_left_hand_pos_on_exit" value="$(arg default_left_hand_pos_on_exit)" />
        <arg name="default_right_hand_pos_on_exit" value="$(arg default_right_hand_pos_on_exit)" />
    </include>

        <!-- C++ IK Node (启动当 use_cpp_ik=true 且 use_incremental_ik=false 时) -->
    <node name="ik_ros_uni_cpp_node" pkg="motion_capture_ik" type="ik_ros_uni_cpp_node" output="screen" if="$(eval str(arg('use_cpp_ik')).lower() == 'true' and str(arg('use_incremental_ik')).lower() == 'false')">
        <param name="ctrl_arm_idx" value="$(arg ctrl_arm_idx)" />
        <param name="control_torso" value="$(arg control_torso)" />
        <param name="/end_effector_type" value="$(arg ee_type)"/>
        <remap from="/kuavo_arm_traj_cpp" to="/kuavo_arm_traj" />
    </node>

    <!-- noitom_hi5_hand_udp_python -->
    <node pkg="noitom_hi5_hand_udp_python" type="monitor_quest3.py" args="$(arg ip_address)" name="monitor_quest3" output="screen">
        <param name="enable_head_control" value="$(arg enable_head_control)" />
    </node>
</launch>
